
.form-control input[type="text"], .form-control input[type="password"], .form-control input[type="email"], .form-control input[type="tel"], select, textarea, input[type="text"].form-control, input[type="password"].form-control, input[type="email"].form-control, input[type="tel"].form-control{
	width: none;
}
.step_wrap{
	
	margin:  20px 0 0 0;
}
.step_wrap .step_next{
	float: right;
}
.step_wrap .step_prev{
	float: left;
}
#bx-soa-order.orderform--v1 #bx-soa-delivery, #bx-soa-order.orderform--v1 #bx-soa-paysystem{
	width: 100%;
	margin-right: 0;
}
#bx-soa-order.orderform--v1 #bx-soa-delivery + #bx-soa-paysystem, #bx-soa-order.orderform--v1 #bx-soa-paysystem + #bx-soa-delivery{
	margin-left: 0;
}
.form-group .bx-soa-customer-field {
	margin:  0 0 20px 0;
}
.w-50{
	width: 45%;
}
#bx-soa-order.orderform--v1 .bx-soa-section:not(#bx-soa-basket) .bx-soa-section-title-container{
	padding-top: 37px;
	padding-bottom: 37px;
}
.bx-soa-section:not(#bx-soa-region) .bx-soa-section-content.container-fluid {
	display: none;
}
.bx-soa-section#bx-soa-basket .bx-soa-section-content.container-fluid{
	display: block;
}

#bx-soa-order #bx-soa-basket .bx-soa-coupon{
	margin: 0;
}
#bx-soa-order .bx-soa-coupon{
	margin:  0;
	padding: 25px 33px 65px 33px;
}

.advantages{
	margin-top: 30px;
	display: none;
}
.advantages-item{
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.advantages-inner{
	position: relative;
	padding: 35px 35px;
	border: 1px solid #000000;
	box-shadow: 4px 4px 0px #000000;
}
.advantages-title{
	font-weight: bold;
	font-size: 13px;
	text-transform: uppercase;
	color: #111;
}
.advantages-item .advantages-title{
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
	line-height: 20px;
}

.advantages-desc{
	display: none;
	position: absolute;
	font-size: 13px;
	background-color: #fff;
	padding: 13px 16px;
	border: 1px solid #000;
	border-radius: 5px;
	width: 15rem;
	z-index: 999;
}
.advantages-desc:before {
	content: '';
	width: 14px;
	height: 14px;
	display: block;
	position: absolute;
	top:93%;
	left:15px ;
	border-bottom: 1px solid #111;
	border-left: 1px solid #111;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background: #fff;	
}
.advantages-item:not(:last-child){
	position: relative;
	margin: 0 0 20px 0;
}
.advantages-hint{
	position: relative;
	height: 42px;
}
.advantages-image{
	background-color: #111;
	border-radius: 100% ;
	height: 42px;
	width: 42px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 20px 0 0;
}

.advantages-image img{
	position: relative;
	z-index: 99;
	object-fit: contain;
}
.advantages-image:hover{
	background-color: #DB2138;
}
.advantages-item:hover  .advantages-desc{
	position: absolute;
	display: flex;
	left:0;
}
.soa-property-container{
	display: flex;
	flex-direction: column;
	gap: 30px 0;
}
#bx-soa-order .bx-soa-pp-item-container .bx-soa-pp-company{
	margin: 0 0 20px 0;
}
.form-date{
	margin: 0 0 20px 0;
}
.form-time label, .form-date label{
	margin: 0 5px 10px 0;
}
.form-time input , .form-date input{
	border: 1px solid #ececec;
	background: #f7f7f7;		
}
@media (min-width: 520px){
	.form-time label, .form-date label{
		margin: 0 20px 10px 0;
	}
	.soa-property-container{
		flex-direction: row;
		gap:  0 55px;
	}
	
	#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-tr .bx-soa-item-td.bx-soa-item-properties{
		width: 49% !important;
	}
}
@media (min-width: 768px){
	
	#bx-soa-order #bx-soa-basket .bx-soa-item-table .bx-soa-item-tr .bx-soa-item-td.bx-soa-item-properties{
		width: 25%;
	}
}
@media (min-width: 993px){
	
	.advantages{
		display: block;	
	}
	.advantages-item:nth-child(1) .advantages-desc{
		top: -92px;
	}
	.advantages-item:nth-child(2) .advantages-desc{
		top: -82px;
	}
	.advantages-item:nth-child(3) .advantages-desc{
		top: -82px;
	}
	.advantages-item:nth-child(4) .advantages-desc{
		top: -92px;
	}
	.advantages-desc:before {
	
		top:93%;
	
	}
}
@media (min-width: 1024px){

	.advantages-inner {
		padding: 25px 25px;
		border: 1px solid #000000;
		box-shadow: 4px 4px 0px #000000;
	}
}
@media (min-width: 1052px){

	.advantages-item:nth-child(3) .advantages-desc{
		top: -92px;
	}

}
@media (min-width: 1100px){
	
	.advantages-item:nth-child(3) .advantages-desc{
		top: -82px;
	}
	
	.advantages-inner {
		padding: 25px 25px;
		border: 1px solid #000000;
		box-shadow: 4px 4px 0px #000000;
	}
}
@media (min-width: 996px){
	#bx-soa-order .bx-soa-section .bx-soa-section-content{
		padding: 0 33px 25px 84px;
	}
	}

@media (min-width: 1200px){
.advantages-inner{
	padding: 35px 35px;
}
}
@media (min-width: 1337px){

	.advantages-item:nth-child(3) .advantages-desc{
		top: -92px;
	}

}
@media (min-width: 1400px){
.advantages-item:nth-child(1) .advantages-desc{
	top: -6rem;
}
.advantages-item:nth-child(2) .advantages-desc{
	top: -6rem;
}
.advantages-item:nth-child(3) .advantages-desc{
	top: -6rem;
}
.advantages-item:nth-child(4) .advantages-desc{
	top: -6rem;
}
@media (min-width: 993px){
	.advantages{
		display: block;
	}
}
@media (min-width: 1400px){
	.advantages-desc{
		
		width: 17rem;
	}
}
@media (min-width: 1500px){
	.advantages-desc:before {
		top:85%;
	}
	.advantages-desc{
		width: 19rem;
	}
	.advantages-item:nth-child(1) .advantages-desc{
		top: -4.5rem;
	}
	.advantages-item:nth-child(2) .advantages-desc{
		top: -4.5rem;
	}
	.advantages-item:nth-child(3) .advantages-desc{
		top: -4.5rem;
	}
	.advantages-item:nth-child(4) .advantages-desc{
		top: -4.5rem;
	}
}
