body,
body div.bx-yandex-map,
body .ymaps-map .ymaps-b-balloon,
.fancybox-title {
    font-family: "Montserrat", Arial, sans-serif;
}

html {
    font-size: 13px;
}

.product-review .rating {
    margin: 0 15px 0 0;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* style */
.product-container {
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.right_block:not(.catalog_page_detail_with_left) .product-view--side-left {
    width: 100%;

    /*width: calc(100% - 683px);*/

    position: relative;
}

.product-info-headnote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    top: 20px;
}

.product-info-headnote__inner>div {
    padding: 5px 15px;
}


.product-container .sticker_sale, .similar_item .sticker_sale {
    background: none;
    padding: 4px 5px;
    background: none;
    border: 1px solid #DB2138;
    color: #DB2138;
}
 .product-container .sticker_new, .similar_item .sticker_new  {
    background: none;
    padding: 4px 5px;
    border: 1px solid #111;
    color: #111;
}


.stickers.custom-font {
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
}
.similar_item  .stickers.custom-font{
    display: none;
}

.product_question {
    position: relative;
    padding: 0 0 0 25px;
    color: #111;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.product_question a {
    color: #111;
}

.product_question:after {
    position: absolute;
    content: '';
    left: 0;
    width: 18px;
    height: 18px;
    background: url('images/question-icon.svg') no-repeat center;
}

/* Caption */
.rating__caption {
    margin-bottom: 0.5em;
    padding: 0;
}

/* Group */
.rating__group {
    position: relative;
    display: flex;
    width: 5.8em;
    height: 30px;
    justify-content: space-between;
    align-items: center;
}


/* Star */
.rating__star {
    top: 0;
    left: 0;
    width: 17px;
    height: 15px;
    margin: 0;
}
.product-review .rating__star{
    width: 14px;
    height: 13px;
}
.rating__star:nth-child(1) {
    background: url(images/star-on.svg) no-repeat center;
    background-size: cover;
}

.rating__star:nth-child(2) {
    background: url(images/star-on.svg) no-repeat center;
    background-size: cover;
}

.rating__star:nth-child(3) {
    background: url(images/star-on.svg) no-repeat center;
    background-size: cover;
}

.rating__star:nth-child(4) {
    background: url(images/star-on.svg) no-repeat center;
    background-size: cover;
}

.rating__star:nth-child(5) {
    background: url(images/star-off.svg) no-repeat center;
    background-size: cover;
}

.product-review {
    display: flex;
    justify-content: space-between;
    max-width: 143px;
    width: 100%;
    align-items: center;

}

.product_article {
    width: 150px;
    display: flex;
    justify-content: space-between;

}

.product_property_title {

    color: #111;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 1.08rem;
}

summary.product_property_title {
    cursor: pointer;
    align-items: center;
    margin: 0;
}

.product_property_title .product_property_open {
    font-size: 20px;
}

.sku_props .bx_item_detail_size ul li.active {
    background-color: #333333;
    border-color: #333333;
}

.offer_buy_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.product-container .button_block.wide {
    margin: 0 0 15px 0;
    width: 100%;
}

.product-container .to-cart.btn {
    padding-top: 14px;
    padding-bottom: 14px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
}

.product-container .one_click.btn {
    padding-top: 14px;
    padding-bottom: 14px;
    width: 100%;
    text-transform: uppercase;
}



.product-container .counter_wrapp {
    padding: 0;
    display: flex;
    justify-content: space-between;
}


.add-favorites {
    width: 20px;

    position: relative;
    display: none;


}

.add-favorites_mob {
    display: block;
    margin: 10px 0 0 0;

}



.add-favorites svg:hover .st1 {
    cursor: pointer;
    fill: #DB2138;

}

.product-container .buy_block {
    padding-bottom: 25px;
    border-bottom: 1px solid #111;
}

.product-container .product-detail_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 13px;
    margin: 30px 0;
    display: none;

}

.wraps>.wrapper_inner {
    padding-top: 0px;
    padding-bottom: 80px;
}

.product-container .product-detail_block_mob {
    display: flex;
    justify-content: space-between;
    margin: 0 0 5px 0;
}
.product-detail_block_mob .product_article{ display: none; }
.product-detail_block_mob .product-review {
    flex-wrap: wrap;

}

.product_property_open {
    transition: .2s ease-in-out;
}

.property_open {
    transform: rotate(45deg);

}

.properties__title.muted.properties__item--inline {

    width: 70%;
    vertical-align: top;
    overflow: hidden;
    display: inline-block;
    letter-spacing: normal;
    position: relative;
    display: flex;
    align-items: center;


}

.properties__title.muted.properties__item--inline span:after {
    content: '';
    display: inline-block;
    width: 100%;
    vertical-align: baseline;
    border-bottom: 1px dashed #888;
    position: absolute;
    top: 49%;
    margin-left: 10px;
}

.properties__value.darken.properties__item--inline {
    display: inline-block;
    letter-spacing: normal;
    padding-left: 3px;
    vertical-align: bottom;
    margin-left: 10px;
    width: 40%;
}

.product_property_content {
    margin-top: 15px;
}

.product_property_details {
   padding:  12px 0 10px 0;
border-bottom: 1px solid #111;
}

.product_delivery_items {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 35px;
}

.product_delivery_item {
    position: relative;
    padding-left: 45px;
    width: 40%;
}

.product_delivery_item span {
    font-size: 13px;
}

.product_delivery_item:nth-child(1) {
    margin-right: 50px;
}

.product_delivery_item:before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    left: 0;
    background: url('images/check.svg') no-repeat center;
    background-size: cover;
}

.product_delivery_pay_title {
    font-weight: 900;
    font-size: 14px;
    margin-bottom: 20px;
}

.product_delivery_pay_icons {
    width: 240px;
    display: flex;
    justify-content: space-between;
}

.product_reviews {
    margin: 50px 0 0 0;
}

.product_reviews_head.section_title {
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px 0;
    
}
.section_title h3{
    font-weight: bold;
    margin: 0;
    font-size: 1.54rem;


}
.product_reviews_title {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;


}



.reviews_content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.reviews_rating_inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    align-items: flex-start;

}

.reviews_rating_wrap p {
    margin: 0;
}

.product_reviews_num span {
    margin: 0 0 0 10px;
}

.reviews_filter {
    position: relative;
    width: 175px;
    margin: 0 0 25px 0;

}

.reviews_filter select {
    display: block;
    border: none;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
    height: auto;
     color:  #888888;
}
.reviews_filter select option{
    padding: 0 0 15px 0;
    display: block;
}
.reviews_filter:after {
    content: " ";
    display: block;
    border-style: solid;
    border: 3px solid transparent;
    border-top: 3px solid black;
    pointer-events: none;
    position: absolute;
    top: 50%;
    right: 0;

}

.reviews_item {
    padding: 15px 20px;
    border: 1px solid #111;
}

.reviews_left_block {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.reviews_left_block p {
    font-size: .93rem;
    line-height: 1.4;
}

.reviews_item_left_block {
    margin: 0 0px 30px 0;
}

.reviews_right_block {
    width: 100%;
}

.reviews_item_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews_user {
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    font-size: 1.080rem;
}

.reviews_user_property {
    display: flex;
    justify-content: space-between;
    max-width: 311px;
    width: 100%;
    flex-direction: column;
}

.reviews_button button {
    padding: 14px 22px;
    background: #111;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.93rem;
    font-weight: bold;
}

.review_rating {
    margin: 0 10px 0 0;
}

.reviews_num {
    display: inline-block;
    font-weight: bold;
    font-size: 1.85rem;
    background-color: #EEEEEE;
    color:  #111;
    padding: 0 8px;
    border-radius: 5px;
    margin: 0 15px 8px 0;
}

.reviews_rating_block {
    display: flex;
    justify-content: space-between;
}

.reviews_rating_wrap {
    margin: 0 0 15px 0;
    width: 152px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.product_property_range input[type=range] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
}

.product_property_range input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url('images/range.svg') no-repeat center;
    background-size: cover;
}
.reviews_right_block input[type=range]::-webkit-slider-runnable-track {
    background-size: contain;
}
.popup-form-wrap .product_property_range input[type=range]::-webkit-slider-runnable-track {

    background-size: contain;
}


.product_property_range input[type=range]::-moz-range-track {
    -moz-appearance: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url('images/range.svg') no-repeat center;
    background-size: contain;
}
.product_property_range input[type=range]::-ms-track {
    -ms-appearance: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url('images/range.svg') no-repeat center;
    background-size: contain;
}
.product_property_range input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    cursor: pointer;
    border-radius: 100%;
    background-color: #111;
}

.product_property_range input[type=range]::-moz-range-thumb {

    -moz-appearance: none;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #111;
}
.product_property_range input[type=range]::-ms-thumb{
    -ms-appearance: none;
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background-color: #111;
}
.reviews_item_content {
    display: flex;
    justify-content: space-between;
}

.reviews_property_wrap {
    width: 100%;
}

.range_signature {
    font-size: 12px;
    color: #999999;
    display: flex;
    justify-content: space-between;
}

.reviews_property {
    margin: 0 0 25px 0;
}

.reviews_content .rating__star,
.reviews_content .rating__group {
    height: 15px;
    background-size: cover;
}

.reviews_content .rating__group {
    width: 80px;
}

.product_reviews_num{
   font-size: 1.6rem;
}
.reviews_item_description {
    margin: 0 0 25px 0;
    
}
.reviews_user_name{
    margin: 0 0 10px 0;
}
.reviews_item {
    font-size: 13px;
    color: #111;
}

.reviews_user_title {
    font-weight: bold;
    font-size: 1.39rem;

    margin: 15px 0 0 0;
}
 .reviews_user_title p{
    margin: 0 0 15px 0;
 }
.reviews_user {
    margin: 0 0 20px 0;
}

.reviews_user_name {
    font-weight: 900;

}

.user_prop_title {
    color: #999999;
    position: relative;
    margin: 0 5px 0 0;
}


.user_prop_caption {
    font-weight: 200;
}

.reviews_user_recomend {
    margin: 0 0 25px 0;
    position: relative;
    padding: 0 0 0 20px;
}

.reviews_user_recomend:before {

    content: '';
    position: absolute;
    background: url('images/recom.svg') no-repeat center;
    width: 15px;
    height: 16px;
    left: 0;
    top: 15%;
}

.reviews_useful {
    display: inline-flex;

}

.like_block {
    margin: 0 0 0 20px;
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.like,
.dislike {
    position: relative;
    padding: 0 0 0 22px;
    color: #111;
}

.like:after {
    content: '';
    left: 0;
    top: 10%;
    position: absolute;
    width: 18px;
    height: 18px;
    background: url('images/like.svg') no-repeat center;
}

.dislike:after {
    content: '';
    left: 0;
    top: 10%;
    position: absolute;
    width: 18px;
    height: 18px;
    background: url('images/like.svg') no-repeat center;
    transform: rotate(180deg);
}

.reviews_rating_block {
    margin: 0 40px 15px 0;
}

.reviews_item_date {
    font-size: 13px;
    color:  #888888;

}

.reviews_item_content {
    display: flex;
    flex-direction: column;
}

.slider-nav .thumb.active {
    border: 1px solid #DB2138;
}


.product-container .owl-nav .owl-prev {
    transform: rotate(180deg);
    position: relative;
    left: 30px;
}

.product-container .owl-nav .owl-next {
    position: relative;
    right: 30px;
}


.product-view.product-view--side-left {
    margin: 0 0 35px 0;
}

.image_wrapper_block > img {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    pointer-events: auto;
    
}

.product-container .slider-nav {

    display: none;
}


.product-container .share-icon:hover .share .shares-block .ya-share2 {
    display: flex;
    width: 100%;
}

.product-container .topic__heading h1 {

    font-size: 1.23rem;
    font-weight: 900;
}


.share-icon {
    width: 120px;
    border: 1px solid #DDDDDD;
    padding: 5px;
    display: flex;
    align-items: center;
    
}

.product-container .wrapp-one-click {
    display: flex;
    justify-content: space-between;
}

.product-container .button_block.wide {

    margin: 15px auto 15px auto;
}

.product-container .share.hover-block_mob {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    right: 10px;
    top: 4px;

}

.price-bonus {
    background-color: #FFD771;
    padding: 10px 15px 10px 40px;
    transform: skew(-15deg, 0);
    display: inline-block;
    font-weight: 900;
    font-size: 13px;


}

.price-bonus-text {
    position: relative;
    transform: skew(15deg);
    display: inline-block;
    color: #111;
}

.price-bonus-text:after {
    position: absolute;
    content: '';
    background: url('images/bonus.svg') no-repeat center;
    width: 23px;
    height: 23px;
    left: -30px;
    top: 0px;

}

.section-gallery-wrapper__item img {
    opacity: 0;
    transition: opacity .2s ease-in-out;
    left: 1px;
    right: 1px;
}
.product-container .section-gallery-wrapper__item img{
    width: 108%;
}
.section-gallery-wrapper__item._active img {
    opacity: 1;
}

.section-gallery-wrapper__item_hidden {
    display: none;
}

.product_property_wrap {
    display: flex;
    flex-direction: column;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #111;
}

.product-container .table_sizes {
    display: none;
}

.product-container .table_sizes_mob {
    display: block;
}

.product-container .item-stock {
    order: 1;
    margin: 5px 0 0 0;
}

.product-container .offer_buy_block {
    order: 1;
}

body .product-side.left_block .cost {
    order: 1;
}

.product-container .price-custom {
    display: flex;
    justify-content: space-between;
}

.section-gallery-wrapper {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: -1px;
    right: -1px;
    flex-direction: row;
    z-index: 2;
    justify-content: center;
}

.section-gallery-wrapper__item-nav {
    display: block;
    position: relative;
    margin: 0px 1px;
    height: 100%;
    z-index: 9;
}

.section-gallery-wrapper__item-nav:before {
    content: "";
    display: block;
    height: 1px;
    background-color: #111;
    transition: background-color .2s ease-in-out;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    cursor: pointer;
    z-index: 2;
}

.vertical-catalog-img .image_wrapper_block {
    padding-top: 0;
}

.section-gallery-wrapper__item {
    width: 35px;
    background-color: #fff;
    margin-bottom: 30px;
}

._active .section-gallery-wrapper__item-nav:before {
    background-color: #DB2138;
}

.product_article-name span {
    color: #999999;
    text-transform: initial;
    font-weight: initial;
}

.product_article-name span>span {
    color: #111;
    text-transform: uppercase;
    font-weight: 200;
}

#main .catalog_detail .table_sizes span {
    text-transform: initial;
    font-size: 13px;
    color: #999999;
    font-weight: 200;
}

.sku_props .bx_item_section_name {
    color: #888888;
    font-size: inherit;
}

.product-container .custom-price-item:first-child {
    font-size: 1.85rem;
    margin: 0;
}

.price_currency-custom {
    font-weight: 900;
}
.similar_item_price {
    display: flex;
    flex-direction: column;
}
.similar_item_price .price_currency-custom {
    font-size: 1.23rem;
    margin-right: 5px;
}

.similar_item_price .discount {
    font-size: 1rem;
}

.discount {
    font-size: 1.385rem;
}

.btn.btn-lg:not(.font-ignore) {
    font-size: 1rem;
}

.char-side .properties__item.properties__item--compact {
    margin-top: 2px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share-name {
    font-size: 0.85rem;
    text-transform: uppercase;
    position: relative;
    left: 7px;
    font-weight: 600;
    color: #999999;
}

.counter_wrapp.list {
    margin: 0;
}

.similar_item {
    width: 100%;
}

.similar_item_image img {
    width: 100%;
}
.similar_item_title{
    margin: 15px  0 ;
}
.product-container .cost.prices.detail .price.font_mxs {
    font-size: 1.733em;
}

.product-container .cost.prices.detail .js-info-block .price.font_mxs {
    font-size: 1.133em;
}

.similar_title h3 {
    margin: 0 0 35px 0;
}

.owl-carousel {
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}

.recommend_img img {
    width: 100%;
}

.recommend_desc {
    text-align: center;
    padding: 25px 0;
    background-color: #DDDDDD;
}

.recommend_desc_title {
    text-transform: uppercase;
    color: #999999;
}

.prices-wrapper-custom {
    width: 100%;
    justify-content: space-between;
}

.price_matrix_wrapper {
    flex-wrap: wrap;
}

.price-main-block {
    display: flex;
    flex-direction: column;
}
.topic{
    margin: 0 0 5px 0;
}
.topic-tablet {
            display: none;
        }
.reviews_item_right_block{
    width: 100%;
}
.reviews_right_block  .reviews_item_right_block{
    max-height: 350px;
    height: 100%;
}
.product_article_table{
    display: none;
}
.other-colors{
    margin: 12px 0 25px 0;
}
.other-colors__item{
    margin: 0 5px 0 0;
}
body .product-side div + .char-side{
    margin: 0;
}
.product_delivery_pay{
    margin: 0 0 15px 0;
}
.reviews_left_block p{
    margin: 5px 0 0 0;
}
.product_property_range input{
    background-color: #fff;
}
.similar_item_image  .section-gallery-wrapper{
    position: static;
}

.similar_item_image .section-gallery-wrapper__item:not("._active") {
    display: none;
}
.similar_item_image .section-gallery-wrapper__item-nav {
    display: none;
}
.similar_item_image.image_wrapper_block img{
    margin: 0;

}
.image_wrapper_block img{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: auto;
}

.section_title{
    margin: 0 0 30px 0;
}
.similar_available{
    display: none;
    
 }
 .wrapper_inner.similar{
    padding-right: 0;
 }
 .similar_item_image  .section-gallery-wrapper__item-nav::before  {
    background-color: #fff;
 }
.similar_item_image .section-gallery-wrapper__item._active .section-gallery-wrapper__item-nav::before {
        background-color: #DB2138;
}
@-webkit-keyframes open {
  0% { margin-top: -3px}

  100% { margin-bottom: 0px}
}
@keyframes open {
  0% { margin-top: -3px}

  100% { margin-bottom: 0px}
}

details[open] summary ~ * {
  -webkit-animation: open .2s linear;
          animation: open .2s linear;
}
.product_article{
   display: flex;
   justify-content: center;
}

/*----------- форма ---------------*/

#main .wrapper1 .popup-form-wrap {
    position: fixed;
    z-index: 999;
    top: 0;

    display: none;
    overflow: auto;

    width: 100%;
    height: 100%;
    height: 100vh;

    background-color: rgba(0, 0, 0, .56);

    justify-content: center;
}

.popup-close {
    font-size: 24px;
    line-height: 24px;

    position: absolute;
    top: 20px;
    right: 15px;

    display: block;
    display: flex;
    float: right;

    width: 14px;
    height: 14px;
    padding: 20px;

    cursor: pointer;
    text-align: center;

    color: white;
    border: 1px solid #111;
    background-color: #fff;

    align-items: center;
    justify-content: center;
}

.popup-close::before {
    font-size: 34px;

    content: '+';
    transform: rotate(45deg);

    color: #111;
}

.popup-form-wrap .popup-form.popup {
    top: 0;
    display: block;
    margin: 0 auto;
    width: 100%;
    left: 0;
    position: absolute;
    max-width: 1064px;
    padding: 50px 35px 30px 35px;
    background: #fff;
    min-height: 100%;
    max-height: none;
}

.popup_product.product-p {
    display: flex;

    justify-content: flex-start;
    align-items: center;
}

.popup_title {
    margin: 0 0 35px 0;
}

.product_property_title {
    margin: 0 0 10px 0;
}
.popup-form.popup .popup_content_left .form_field_block .product_property_title{
    margin: 0 0 30px 0;
}
.popup_content_right .product_property_title{
    margin: 0 0 15px 0;
}
.product-p_image {
  
    margin: 0 30px 0 0;
}
.product-p_image img{
    width: 70px;
    height: 64px;
}
.popup_header {
    padding: 0 0 30px 0;

    border-bottom: 1px solid #111;
}

.popup_title {
    font-size: 2.3rem;
    font-weight: 900;

    color: #111;
}

.popup_content_left {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 411px;

    justify-content: space-between;
}

.popup_content_right {
    width: 100%;
    max-width: 405px;
}

.popup_content {
    display: flex;
    flex-direction: column;

    padding: 30px 0;

    border-bottom: 1px solid #111;

    align-items: center;
}

.form_field_row {
    display: flex;

    justify-content: space-between;
}

.rating_popup .product_property_title {
    margin: 0 0 20px 0;
}

.rating_popup .rating__group {
    width: 12.5em;
}

.recommend_radio input[type='radio']:checked,
.recommend_radio input[type='radio']:not(:checked) {
    position: absolute;
    left: -9999px;
}

.recommend_radio input[type='radio']:checked+label,
.recommend_radio input[type='radio']:not(:checked)+label {
    position: relative;

    display: inline-flex;

    width: 54px;
    height: 25px;
    padding-left: 28px;

    cursor: pointer;

    color: #666;

    align-items: center;
}

.recommend_radio input[type='radio']:checked+label:before,
.recommend_radio input[type='radio']:not(:checked)+label:before {
    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 24px;

    content: '';

    border-radius: 100%;
    background: #ddd;
}

.recommend_radio input[type='radio']:checked+label:after,
.recommend_radio input[type='radio']:not(:checked)+label:after {
    position: absolute;
    top: 20%;
    left: 9%;

    width: 14px;
    height: 14px;

    content: '';
    -webkit-transition: all .2s ease;
    transition: all .2s ease;

    border-radius: 100%;
    background: #111;
}

.recommend_radio input[type='radio']:not(:checked)+label:after {
    -webkit-transform: scale(0);
    transform: scale(0);

    opacity: 0;
}

.recommend_radio input[type='radio']:checked+label:after {
    -webkit-transform: scale(1);
    transform: scale(1);

    opacity: 1;
}

.recommend_radio label:nth-of-type(1) {
    margin: 0 15px 0 0;
}

.form_field:not(.popup_content_right > .form_field) {
    margin: 0 0 25px 0;
}

.form_field legend,
.reviews_property legend {
    border: none;
}

.form_field input::-webkit-input-placeholder {
    font-size: 13px;
}

.form_field input:-ms-input-placeholder {
    font-size: 13px;
}

.form_field input::-ms-input-placeholder {
    font-size: 13px;
}

.form_field input::placeholder {
    font-size: 13px;
}

.form_field textarea::-webkit-input-placeholder {
    font-size: 13px;
}

.form_field textarea:-ms-input-placeholder {
    font-size: 13px;
}

.form_field textarea::-ms-input-placeholder {
    font-size: 13px;
}

.form_field textarea::placeholder {
    font-size: 13px;
}

.form_field input[type=text],
.form_field textarea {
    padding: 15px 0 15px 10px;
}

.form_field textarea {
    resize: none;
}

.form_field_select select {
    font-size: 13px;
}

.popup_content_right .form_field:nth-child(2) input[type=text] {
    margin: 0 0 15px 0;
}

.form_field .rating__star {
    width: 32px;
    height: 30px;
}

.form_field .rating__star:nth-of-type(5) {
    background: url('images/star-off2.svg') no-repeat center;
    background-size: cover;
}

.form_field_select select {
    padding: 15px 15px 15px 5px;
}

.form_field_select {
    position: relative;

    display: flex;

    align-items: center;
}

.form_field_select,
.form_field input,
.form_field textarea {
    border: 1px solid #111;
}

.form_field_select select {
    display: block;

    height: auto;

    color: #888;
    border: none;
    background: #fff;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form_field_select:after {
    position: absolute;
    top: 40%;
    right: 8px;

    display: block;

    width: 7px;
    height: 7px;

    content: ' ';
    transform: rotate(135deg);

    border-top: 2px solid #111;
    border-right: 2px solid #111;
}

.popup_btn {
    font-weight: 900;

    position: relative;

    width: 100%;
    max-width: 315px;
    padding: 15px 0 15px 25px;

    text-align: left;
    text-transform: uppercase;

    color: #fff;
    border: none;
    background-color: #db2138;
}

.popup_btn .btn-text {
    display: flex;

    align-items: center;
}

.popup_btn .btn-text:before {
    position: absolute;
    right: 10%;

    width: 40px;
    height: 10px;

    content: '';

    background: url('images/arrow.svg') no-repeat center;
}

.popup_footer {
    display: flex;
    flex-direction: column;

    padding: 35px 0 0 0;

    justify-content: center;
    align-items: center;
}

.popup_footer .popup_conditions {
    font-size: 13px;

    display: block;
    display: flex;

    width: 100%;
    max-width: 315px;
    margin: 0 0 20px 0;

    color: #111;

    align-items: center;
}
.product-detail-gallery .owl-carousel .owl-item img{
    max-height: 715px;
}


.image_wrapper_block .product-detail-gallery img {
    position: relative;

}
.vertical-catalog-img .image_wrapper_block {
    padding-top: 95%;
}

.vertical-catalog-img .product-view .image_wrapper_block {
    padding-top: 0;
}

.product-detail-gallery .owl-carousel   {
    display: flex;
    justify-content: center;
}
.product-detail-gallery .owl-dots{
    position: absolute;
    bottom: 20px;
    z-index: 999;
}
.product-detail-gallery .owl-dots .owl-dot span{
    width: 33px;
    height: 1px;
    margin: 5px 5px;
    border-radius: 0px;
}
/*-----END------*/
@media (min-width: 375px) {
    .product-container .share.hover-block_mob {
        flex-direction: row;

    }

    .add-favorites_mob {
        margin: 0 0 0 10px;
        top: 3px;

    }

    .price_matrix_wrapper .prices-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        margin:  0 10px 0 0;
    }

    .reviews_user_gender .user_prop_title:after{
        display: none;
    }
    .user_prop_title:after {
        position: absolute;
        content: '\2022';
        left: -16px;
    }

    .reviews_user_property {

        flex-direction: row;
    }

    .reviews_rating_wrap {
        width: 183px;
    }
    .product_property_range input[type="range"]{
     max-width: 407px;
     width: 100%;
    }
.product_property_range{
    width: 80%;

}
.popup-form-wrap .popup-form.popup .product_property_range input[type=range]::-webkit-slider-runnable-track {
  
    background-size: cover;
}
}
@media (min-width: 420px) {
    .similar_item_price {
        flex-direction: row;
    }
    .product_property_range input[type=range]::-webkit-slider-runnable-track {
        background-size: cover;
    }
    .product-container .button_block.wide {

        width: 100%;
    }

    .price-main-block {
        flex-direction: row;
        justify-content: space-between;
        min-width: 180px;
    }

    .product-container .offer_buy_block.buys_wrapp {
        width: 90%;
        margin: 15px auto 0 15px;

    }
    .product-container .button_block.wide {

        margin: 0 auto 15px auto;
    }

}
@media (min-width: 576px) and (max-width: 618px){
    .reviews_left_block .product_property_range input[type=range]::-webkit-slider-runnable-track {
        background-size: contain;
    }
    
    
}
@media (min-width: 576px) and (max-width: 850px){
    .reviews_item_content .product_property_range input[type=range]::-webkit-slider-runnable-track {
        background-size: contain;
    }
   
}
@media (min-width: 576px) {
    .price-main-block {

        min-width: 200px;
    }
    .product-detail_block_mob .product_article{ display: flex; }
    .product_article-name{
        display: flex;
        align-items: center;
    }
    .popup_content {
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
    }

    .popup_content_left {
        max-width: 100%;
        margin: 0 0 30px 0;
    }

    .form_field:not(.popup_content_right > .form_field).form_field {
        margin: 0 0 30px 0;
    }

    .popup_content_right {
        display: flex;
        flex-direction: column;

        max-width: 405px;

        justify-content: space-between;
    }

    .popup_content_left {
        width: 411px;
        margin: 0 50px 0 0;
    }

    .popup_content_right>.form_field {
        display: flex;
        flex-direction: column;

        justify-content: space-between;
    }

    .product-container .product-detail_block_mob{
        margin: 15px 0 15px 0;
    }
    .reviews_filter{
        margin: 25px 0 15px 0;
    }
 
    .product_property_inner{
        border: 1px solid #111;
        padding: 30px;
    }
    .product-container .share.hover-block {
        position: absolute;
        right: 20px;

    }

    .product-container .product-detail_block {
        flex-direction: row;

    }

    .wrapp-one-click {
        width: 48%;
    }

    .product-container .one_click.btn {
        width: 80%;
       

    }

    .add-favorites {
        right: 5%;
    }

    .product-container .offer_buy_block.buys_wrapp {
        max-width: 100%;

        flex-direction: row;
    }

   

    .product-container .button_block.wide {
        margin: 0;
    }


  

    
    .product-container .slider-nav {

        display: flex;
        justify-content: center;
    }

    .product-container .slider-nav .thumbs {

        display: flex;
        justify-content: space-between;
        margin: 10px 0 0 0;
        gap: 0 10px;
    }
    .thumb{
        width: 60px;
        height: 60px;
    }
    .thumbs .thumb {
        border: 1px solid #111;
    }

    .product-container .table_sizes.table_sizes_mob {
        display: none;
    }

    .product-container .table_sizes {
        display: block;
    }

    .product_article_mob {
        display: none;
    }

    body .product-side.left_block .cost {
        order: 0;
    }

    .prices-wrapper-custom {
        width: auto;
        justify-content: space-between;
    }

    .topic-tablet {
        display: block;
    }

    .topic {
        display: none;
    }
    .product-container .topic__heading h1{
        font-size: 1.85rem;
    }
    .product-container .custom-price-item:first-child {
            font-size: 2.3rem;
    }
    .reviews_num{
        font-size: 2.77rem;
    }
    .reviews_left_block p{
        font-size: 1.08rem;
    }
    .reviews_user_title{
        font-size: 1.54rem;
    }
   
    .reviews_button{
        font-size: 1rem;
    }
    .section_title, .section_title h3{
    
    font-size: 1.85rem;

}
.reviews_rating_block {
    flex-direction: column;
    padding: 25px 0 10px 25px;
    border: 1px solid #111;
}
.reviews_rating_inner{
    flex-direction: row;
    align-items: center;
}
.reviews_rating_wrap{
    width: 100%;
}
.reviews_rating_block{
    margin:  0;
    width: 48%;
}
.reviews_property_wrap{
                display: flex;
flex-direction: column;
align-items: unset;
justify-content: space-between; 



        }

    .reviews_property {
    margin: 0;

        }
        .reviews_property:nth-child(even){
            margin: 15px 0;
        }
        .reviews_item_left_block, .reviews_item_right_block{
            width: 47%;
        }
        .reviews_item_content{
            flex-direction: row;
        }
        .reviews_user_title{
            margin: 0;
        }
        .reviews_item_content{
            margin: 20px 0 0 0 ;
        }
        .reviews_item_left_block{
            margin: 0;
        }
        .price-main-block{
            margin-right: 15px;
        }
        .add-favorites_mob{
            display: none;
        }
        .add-favorites:not(.add-favorites_mob){
            display: flex;

        }
        
        .product-container .offer_buy_block.buys_wrapp{
            width: 100%;
             margin: 15px 0 0 0 ;
        }
        .counter_wrapp.list{
            width: 50%;
        }
        .product_article_table{
    display: block;
}
.product_property_range input[type="range"]{
     width: 100%;
}
.product_property_range{
    width: 100%;
    
}
.product_reviews_num span{
    font-weight: normal;
}
.reviews_left_block p{
    margin: 0;
}
.reviews_item_right_block{
    display: flex;
    justify-content: flex-end;
}

.reviews_item_content .reviews_item_right_block  .reviews_property_wrap{
    width: 81%;
}

.similar_item_image a.slider-mob{
    display: block;
}
.vertical-catalog-img .similar_item_image.image_wrapper_block  {
    padding-top: 92%;
    position: relative;
}
.similar_item_image.image_wrapper_block img{
    position: absolute;
    
}
.similar_item_image .section-gallery-wrapper__item:not("._active") {
    display: block;
}
.popup-form-wrap .popup-form.popup .product_property_range input[type=range]::-webkit-slider-runnable-track {

    background-size: contain;
}
}

@media (min-width: 650px) {
   
    .popup_footer {
        flex-direction: row;
    }

    .popup_footer .popup_conditions {
        max-width: 100%;
        margin: 0 20px 0 0;
    }

    .add-favorites {
        right: 0;
    }
    .reviews_rating_block{
   
    width: 48.5%;
    }

}

@media (min-width: 768px) {
    .product-container .product-detail-gallery {

        width: 109%;

        left: -30px;
        
    }
    .similar_item  .stickers.custom-font{
    display: block;
    }
    .similar_item .product-info-headnote{
        top:  10px;
    }
    .reviews_item_left_block {
        width: 400px;
    }

    .reviews_item_content {
        flex-direction: row;
    }
    .product-view.product-view--side-left{
        margin: 0 0 15px 0;
    }
    .product-container .offer_buy_block.buys_wrapp{
        margin: 30px 0 0 0;
    }
    .reviews_item{
        padding: 30px;
        font-size: 1.1rem;
    }

.similar_item_image   .section-gallery-wrapper{
     position: absolute;
}

.similar_item_image .section-gallery-wrapper__item:not("._active") {
    display: block;
}
.similar_item_image .section-gallery-wrapper__item-nav {
    display: block;
}

.similar_item_image.image_wrapper_block img{
    margin: 0;
    position: absolute;
}
.similar_item_image  .slider-mob {
    display: block;
 }
 .similar_item_image .section-gallery-wrapper__item{
    margin:  0;
    width: 25%;
 }
 .similar_item_price .price_currency-custom{
    font-size: 1.54rem;
 }
 .similar_item_price .discount{
    font-size: 1.1rem;
 }
 .similar_available{
    display: flex;
    margin: 0 0 15px 0;
    font-size: 1rem;
 }
 .similar_available .item-stock {
    margin: 0 50px 0 0;
 }
 .popup-form-wrap .popup-form.popup .product_property_range input[type=range]::-webkit-slider-runnable-track {
  
    background-size: cover;
}
 
}
@media (min-width: 992px) {
    .form_field_select select {
        padding: 15px 51px 15px 5px;
    }

    .form_field_select::after {
        width: 8px;
        height: 8px;
    }

    .popup-form.popup {
        padding: 55px 77px 55px 73px;
    }

    .reviews_user_property{
        width: 275px;
    }
    .similar_title h3 {
    margin: 0 0 0 0;
    }
    .user_prop_title::after{
        left: -9px;
    }
    .product-container{
        flex-direction: row;
        justify-content: space-between;
        margin: 30px 0 0 0 ;
    }
  
    .product-container .product-detail_block_mob{
        display: none;
    }
    .right_block:not(.catalog_page_detail_with_left) .product-view--side-left{
        width: 54.3%;
    }

     .product-container .product-side {
        max-width: 44%;
    }
    .reviews_left_block{
        flex-direction: column;
        margin: 0 30px 0 0 ;
    }
    .reviews_rating_block{
        border:  0 ;
        padding: 0;
        width: 100%;
    }
    .reviews_content{
        flex-direction: row;
    }
    .reviews_item_left_block{
        width: 45%;
    }
   

    .topic {
        display: block;
    }
     .reviews_item_right_block .reviews_property_wrap {
        width: 94%;
    }

    .reviews_left_block, .reviews_item_right_block{
        max-width: 285px;
        width: 100%;
    }

    .product-container .topic__heading h1{
            font-size: 2.3rem;
    }
    .reviews_user_title{
        font-size: 1.85rem;
    }
    .reviews_item{
        font-size: 1.08rem;
    }
    .reviews_item_description{
        font-size: 1.14em;
    }
    .reviews_user_name,.reviews_user_recomend{
        font-size: 1.14em;
    }
    .product-container .product-detail_block{
        display: flex;

    }
    .product_property_inner{
        border: none;
        padding: 0;
    }
    .reviews_property:nth-child(even){
            margin: 25px 0;
    }
    .reviews_filter{
        margin: 0 0 15px 0;
    }
    .reviews_rating_wrap{
        margin: 0 0 35px 0;
    }
    .reviews_left_block{
        margin: 35px 35px 0 0;
    }
    .reviews_left_block .reviews_item_right_block{
        justify-content: flex-start;
    }
    .reviews_item_content .reviews_item_right_block .reviews_property_wrap{
        width: 94%;
    }
    .product-container .slider-nav{
        position: absolute;
        top: 80%;
        
        z-index: 99;        
    }
    .product-container .product-detail-gallery {
      
        display: flex;
        justify-content: center;
        padding: 0 10px 0 0;
        left: 0;
        width: 100%;
    }

    .product_property_details{
        padding:  15px 0 13px 0;
    }
    .product-view--side-left .image_wrapper_block {
        position: sticky;
        top: 30px;
    }
     
}

@media (min-width: 1024px) {
    .popup-form-wrap .popup-form.popup {
      
        min-height: auto;
    }
    .popup-form-wrap .popup-form.popup {
        top: 50%;
        transform: translate(-50%,-50%);
        left: 50%;
    }
    .product-container .product-detail-gallery{
        padding: 0;
    }
    .product-container .product-side {
        max-width: 42.3%;
    }
    .recommend_block.wrapper_inner{
        padding-bottom: 100px;
    }
    .wrapper_inner.similar{
    padding-right: 30px;
    }
    .reviews_user_property{
        width: 312px;
    }
    .user_prop_title::after{
        left: -15px;
    }
}

@media (min-width: 1200px) {
     .product-container .product-side {
        max-width: 40.9%;
    }
    .reviews_user_gender .user_prop_title:after{
        display: inline-flex;
    }
    .reviews_user{
        flex-direction: row;
        justify-content: space-between;
        width: 399px;
    }
    .reviews_item_description{
        width: 80%;
    }
    .reviews_user_name{
        margin: 0 30px 0 0;
    }
    .reviews_item_left_block{
        width: auto;

    }
    .reviews_user_property{

        width: 300px;
        position: relative;
    }
    .reviews_user_property div{
        display: flex;
        align-items: center;
    }
    .reviews_left_block {
        flex-direction: column;
    }

    .reviews_content {
        flex-direction: row;
    }

    .reviews_right_block {
        width: calc(100% - 350px);
    }
     .product-container .slider-nav{
       
        top: 83%;
        

    }

}

@media (min-width: 1400px) {
    
    .reviews_right_block {
        width: calc(100% - 400px);
    }

    .reviews_item_left_block {
        width: 100%;
    }
    .product-container .slider-nav{      
        top: 85%;
    }
   
}
